.tareaContenedor{
    width: 500px;
    min-height: 65px;
    background-color: hotpink;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 2px solid white;
    cursor: pointer;
}


.tareaContenedor:nth-child(3n + 1){
    background-color: rgb(246, 95, 171);
}
.tareaContenedor:nth-child(3n + 2){
    background-color: rgb(249, 133, 191);
}
.tareaContenedor:nth-child(3n + 3){
    background-color: rgb(245, 156, 200);
}

.laTarea{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;

}

.icono{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.tareaContenedor.terminada{
    background-color: aqua;
    text-decoration: line-through;
}