* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;

}

html, 
body {
  color: rgb(17, 16, 16);
  background-color: aqua;
  margin-top: 40px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  

}

      

.tareaListaContainer{
  width: 600px;
  min-height: 500px;
  background-color: azure;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;

}

h1{
  color:deeppink;
  font-size: 40px;
  text-align: center;
  margin: 20px 0;
}



